
@using System.Data.OleDb;
    @{
        ViewBag.Title = "Studnet Store Details";
        Layout = null;

    }

<html>

 
        <head>

            <link href="~/Content/non-responsive.css" rel="stylesheet" />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>

                var debit_total = 0;
                var credit_total = 0;
                var total_balance = 0;
                $(document).ready(function () {
                    var id = [];
                    $('#test tbody tr').each(function () {
                        if ($(this).find('td:eq(1)').text() != ""
                          &&
                        id.indexOf($(this).find('td:eq(1)').text()) == -1
                        ) {
                            id.push($(this).find('td:eq(1)').text())
                        }
                    });
                    objNewTable = "<thead><tr><th>ID</th><th>MemberID</th><th>Name</th><th>Debit</th></tr></thead> ";
                            for (i = 0; i < id.length; i++) {
                                var tableRow = $("#test td").filter(function () {
                                    return $(this).text() == id[i];
                                }).closest("tr");


                            sum = 0;
                        $(tableRow).each(function () {
                                sum = sum + parseInt($(this).find("td:eq(5)").text(), 10);

                        });
                        debit_total = sum;
                        total_balance -= debit_total;

                            objNewTable = objNewTable + "<tr><td>" + (i + 1) + "</td><td>" + $(tableRow).find(':eq(1)').html() + "</td><td>" + $(tableRow).find(':eq(2)').html() + "</td><td>" + sum + "</td></tr>"
                    }

                    $('#result').html(objNewTable)

                });
            </script>
            <script>
                $(document).ready(function () {
                    var id = [];
                    $('#test1 tbody tr').each(function () {
                        if ($(this).find('td:eq(1)').text() != ""
                          &&
                        id.indexOf($(this).find('td:eq(1)').text()) == -1
                        ) {
                            id.push($(this).find('td:eq(1)').text())
                        }
                    });
                    objNewTable = "<thead><tr><th>Member ID</th><th>Name</th><th>Credit</th></tr></thead> ";
                            for (i = 0; i < id.length; i++) {
                                var tableRow = $("#test1 td").filter(function () {
                                    return $(this).text() == id[i];
                                }).closest("tr");


                            sum = 0;
                        $(tableRow).each(function () {
                                sum = sum + parseInt($(this).find("td:eq(5)").text(), 10);

                        });
                        credit_total = sum;
                        total_balance += credit_total;
                            objNewTable = objNewTable + "<tr>"+"<td>" + $(tableRow).find(':eq(0)').html() + "</td><td>" + $(tableRow).find(':eq(1)').html() + "</td><td>" + sum + "</td></tr>"
                            }
                            $('#credit_total').html(credit_total + "&#x20b9;");
                            $('#debit_total').html(debit_total + "&#x20b9;");
                            $('#total_balance').html(total_balance + "&#x20b9;");
                            $('#result1').html(objNewTable)


                });
            </script>
            <script>
                $(document).ready(function () {
                    $('#test1 tr').find('th:first-child, td:first-child').remove()
                    $('#test1 tr').find('th:first-child, td:first-child').remove()
                    $('#test1 tr').find('th:first-child, td:first-child').remove()
                    //$('#test1 tr').find('th:last-child, td:last-child').remove()
                    $('#test1 tr').find('th:last-child, td:last-child').remove()
                    $('#test tr').find('th:first-child, td:first-child').remove()
                    $('#test tr').find('th:first-child, td:first-child').remove()
                    $('#test tr').find('th:first-child, td:first-child').remove()
                });
            </script>
            
        </head>

        <body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;align-items:center;text-align:center;vertical-align:central">
            

            @*Form*@
            @using (Html.BeginForm())
            {
                        <input class="form-control hidden-print" name="mid" value="@ViewBag.Member_id" placeholder="MID Search" />
                        <button type="submit" name="Member_search" class="btn btn-success hidden-print">Search</button>
                        <input class="form-control hidden-print" name="room" value="@ViewBag.Room" placeholder="Room" />
                        <input class="form-control hidden-print" name="cup" value="@ViewBag.Cup" placeholder="Cup" />
                        <button type="submit" name="Rooom_search" class="btn btn-info hidden-print">Search</button>
                        <button type="submit" name="Room_Print" class="btn btn-default hidden-print" onclick="window.print()">Print Room</button>
                        <a href="~/Home/Home"  class="btn btn-default hidden-print">BACK</a>
            }

            @*Student Details*@
            <img src="~/Content/Gurukul Brand Logo.png" height='90px' style="float:left;padding-right:10px" />
            
               <h2 style="text-align:left;">Gurukulite Store Details</h2>
            
            <p style="text-align:left">
                <label style="color:black;font-size:19px;">Credit : </label>
                <label id="credit_total" style="color:black;font-size:19px;padding-left:2px;"></label>
                <label style="color:black;font-size:19px;padding-left:16px;">Debit : </label>
                <label id="debit_total" style="color:black;font-size:19px;padding-left:2px;"></label>
                <label style="color:black;font-size:21px;padding-left:19px;">Balance : </label>
                <label id="total_balance" style="color:black;font-size:19px;padding-left:2px;"></label>
            </p>
            <p style="text-align:left;padding-top:13px">
                <label style="padding:18px;font-size:18px;">@ViewBag.Member_id</label>
                <label style="padding:18px;font-size:18px;">@ViewBag.Name</label>
                <label style="padding:18px;font-size:18px;">@ViewBag.Room_Cup</label>
                <label style="padding:18px;font-size:18px;">@ViewBag.Class</label>
            </p>
            <div style="padding-top:4px"></div>
            <hr style="opacity:50;"/>
            <div style="padding-top:3px"></div>
            <label style="float:left;padding:3px;font-size:20px"><strong>Debit Record</strong></label><label style="float:right;padding:3px;font-size:20px"><strong>Credit Record</strong></label><br /><br /><br />
            @*Credit Debit Details Table*@
                
               
                    @Html.Raw(ViewBag.debit_get)
                    @Html.Raw(ViewBag.credit)
            
            @*Balance Report*@<br /><br />
            
            @*<h2>Balance</h2>
                <table id='result2' class="table" style="width:40%">
        <tr>
            <th>Credit</th>
            <th>Debit</th>
            <th>Balance</th>
        </tr>
        <tr>
            <td><h1 id="credit_total" style="color:blue"></h1></td>
            <td><h1 id="debit_total" style="color:red"></h1></td>
            <td><h1 id="total_balance" style="color:green;font-weight:bold"></h1></td>
        </tr>
    </table>*@


            @*<table id='result2' class="table" style="width:30%">
                <tr>
                    <th>Detail</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td><h4>Total Credit:</h4></td>
                    <td><h4 id="credit_total" style="color:blue;text-align:right;"></h4></td>
                </tr>
                <tr>
                    <td><h4>Total Debit:</h4></td>
                    <td><h4 id="debit_total" style="color:red;text-align:right;"></h4></td>
                </tr>
                <tr style="border-top:1px solid #808080">
                    <td><h4>Balance:</h4></td>
                    <td><h4 id="total_balance" style="color:green;font-weight:bold;text-align:right;"></h4></td>
                </tr>
            </table>*@
            <style>
table {
    border-collapse: collapse;
    font-size:15px;
}

th, td {
    padding: 3px;
    text-align: left;
    border-bottom: 0.5px solid #ddd;
}            </style>
        </body>

</html>
